#logo {
  padding: 0;
  justify-content: flex-start;
  padding-right: 50px;
  order: 2;
  flex-grow: 0;
}

header {
  flex-direction: row;
}

header > .col-960 {
  display: flex;
  background: #fff;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 960px;
  width: 100vw;
}

#header-text {
  align-items: flex-end;
  /*margin: 0 25px 0 0;*/
}

#header-text {
  order: 1;
  /*flex-grow: 1;*/
}

.featured-item-info > p {
  text-align: justify;
  margin: 15px 0 0 0;
  font-size: 0.9em;
  width: 50%;
}